<mat-drawer-container class="parent">
  <mat-drawer #drawer class="connections" mode="side">
    <span class="connectionsTitle">Connections</span>
    <button class="addConnectionBtn" mat-raised-button>
      <mat-icon>add</mat-icon> Add New
    </button>
  </mat-drawer>

  <div class="mainContainer">
    <div class="topBar">
      <button class="menuBtn" type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">EzQuery</span>
    </div>
    <div class="connectionInfoContainer">
      <div class="connectionContainer">
        <span class="connectionsTitle">Add Connection</span><br>
        <mat-form-field class="hostInput">
          <input matInput placeholder="Host">
        </mat-form-field>
        <mat-form-field class="portInput">
          <input matInput placeholder="Port">
        </mat-form-field>
        <mat-form-field class="hostInput">
          <input matInput placeholder="User">
        </mat-form-field>
        <mat-form-field class="hostInput">
          <input matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field class="hostInput">
          <input matInput placeholder="Database">
        </mat-form-field>
        <button class="connectBtn" type="button" mat-button>
          Connect
        </button>
      </div>
    </div>
  </div>

</mat-drawer-container>